<h1>Stories#index</h1>

<%= @time %>

<table>
	<tr>
		<td> Name </td>
		<td> Link </td>
	</tr>
	<tr>
		<% @story.each do |story| %>
		<td><%= story.name %> </td>
		<td><%= link_to story.link story.link %> </td>
	</tr>
<% end %>

</table>
